<%- include('./includes/header',{title}) %>
    <main>
        <section class="lux">
            <div class="banner mb-5">
                <div class="container py-5">
                    <div class="row justify-content-center">
                        <div class="col-auto text-center">
                            <h2>FAQ/Aide</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container pb-2">
                <div class="row justify-content-center">
                    <div class="col-md-8 mb-5">
                        <h3>Général:</h3>
                        <dl>
                            <dt>Quels sont vos horaires d'ouverture ?</dt>
                            <dd>Nous sommes ouverts du lundi au vendredi de 9h à 18h.</dd>

                            <dt>Quels modes de paiement acceptez-vous ?</dt>
                            <dd>Nous acceptons les paiements par carte de crédit, PayPal et virement bancaire.</dd>

                            <dt>Quelle est votre politique de retour ?</dt>
                            <dd>Vous pouvez consulter notre politique de retour sur notre page "Retours et
                                Remboursements".</dd>
                        </dl>

                        <h3>Commandes:</h3>
                        <dl>
                            <dt>Comment passer une commande ?</dt>
                            <dd>Vous pouvez passer une commande en sélectionnant le produit souhaité, puis en
                                remplissant le formulaire de commande sur la page du produit.</dd>

                            <dt>Combien de temps faut-il pour traiter ma commande ?</dt>
                            <dd>Nous nous efforçons de traiter les commandes dans un délai de 1 à 3 jours ouvrables.
                            </dd>

                            <dt>Puis-je modifier ma commande après l'avoir passée ?</dt>
                            <dd>Une fois votre commande passée, nous vous recommandons de nous contacter rapidement pour
                                toute modification souhaitée. Cependant, nous ne pouvons garantir que les modifications
                                pourront être apportées en fonction de l'état de traitement de la commande.</dd>
                        </dl>

                        <h3>Livraison</h3>
                        <dl>
                            <dt>Quels sont vos frais de livraison ?</dt>
                            <dd>Les frais de livraison dépendent de la destination et du poids de la commande. Vous
                                pouvez obtenir une estimation des frais de livraison lors du processus de commande.</dd>

                            <dt>Quels modes de livraison proposez-vous ?</dt>
                            <dd>Nous proposons différentes options de livraison, y compris la livraison standard et la
                                livraison express.</dd>

                            <dt>Livrez-vous à l'international ?</dt>
                            <dd>Oui, nous proposons la livraison internationale. Veuillez consulter les informations de
                                livraison lors du processus de commande pour connaître les pays desservis.</dd>
                        </dl>

                        <h3>Contact</h3>
                        <dl>
                            <dt>Comment puis-je vous contacter ?</dt>
                            <dd>Vous pouvez nous contacter par e-mail à l'adresse <a
                                    href="mailto:fakhamaastore@gmail.com">fakhamaastore@gmail.com</a> ou par téléphone
                                au
                                <a href="tel:+212721036477">+212721036477</a>. Vous pouvez également utiliser le
                                formulaire de contact
                                disponible sur notre site web.
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include("./includes/footer") %>