<%- include('./includes/header',{title}) %>
    <main>
        <section class="lux">
            <div class="banner mb-5">
                <div class="container py-5">
                    <div class="row justify-content-center">
                        <div class="col-auto text-center">
                            <h2>Commande enregistrée</h2>
                            <p>Votre commande a été enregistrée</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container pb-2">
                <div class="row justify-content-center">
                    <div class="col-md-8 mb-5 text-center">
                        <svg fill="green" width="200px" height="200px" viewBox="0 0 36 36" version="1.1"  preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path class="clr-i-outline clr-i-outline-path-1" d="M18,2A16,16,0,1,0,34,18,16,16,0,0,0,18,2Zm0,30A14,14,0,1,1,32,18,14,14,0,0,1,18,32Z"></path><path class="clr-i-outline clr-i-outline-path-2" d="M28,12.1a1,1,0,0,0-1.41,0L15.49,23.15l-6-6A1,1,0,0,0,8,18.53L15.49,26,28,13.52A1,1,0,0,0,28,12.1Z"></path>
                            <rect x="0" y="0" width="36" height="36" fill-opacity="0"/>
                        </svg>
                        <h3>Commande enregistrée</h3>
                        <p class="display-6">Votre commande a été enregistrée</p>
                        <p style="font-size: 1.4rem;font-weight: 100;">notre équipe commerciale vous contactera dans les plus brefs délais</p>
                        <p style="font-weight: bold;">Merci pour votre confiance</p>
                        <a href="/shop" class="order-now">Découvrir plus de produits</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include("./includes/footer") %>