<%- include('./includes/header',{title}) %>
    <main>
        <section class="lux">
            <div class="banner mb-5">
                <div class="container py-5">
                    <div class="row justify-content-center">
                        <div class="col-auto text-center">
                            <h2>Termes et conditions</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container pb-2">
                <div class="row justify-content-center">
                    <div class="col-md-8 mb-5">
                        <p>Dernière mise à jour : [Date]</p>

                        <p><strong>1. Utilisation du site web</strong></p>
                        <p>1.1 Contenu : Le contenu de ce site web est fourni à titre informatif uniquement. Nous nous
                            réservons le droit de modifier, de mettre à jour ou de supprimer tout contenu sans préavis.
                        </p>
                        <p>1.2 Utilisation autorisée : Vous acceptez d'utiliser ce site web conformément aux lois
                            applicables et aux présentes Conditions Générales. Vous ne devez pas utiliser ce site web à
                            des fins illégales ou frauduleuses.</p>
                        <p>1.3 Propriété intellectuelle : Tous les contenus présents sur ce site web, tels que les
                            textes, les images, les logos et les marques, sont protégés par des droits d'auteur et des
                            droits de propriété intellectuelle. Vous ne pouvez pas utiliser, reproduire ou distribuer
                            ces contenus sans notre autorisation écrite préalable.</p>

                        <p><strong>2. Liens vers des sites tiers</strong></p>
                        <p>Notre site web peut contenir des liens vers des sites web tiers. Nous n'avons aucun contrôle
                            sur le contenu ou les pratiques de ces sites tiers. Nous ne sommes pas responsables des
                            dommages ou pertes résultant de votre utilisation de ces sites.</p>

                        <p><strong>3. Limitation de responsabilité</strong></p>
                        <p>Nous nous efforçons de maintenir notre site web à jour et sécurisé, mais nous ne pouvons
                            garantir son exactitude, son exhaustivité ou son caractère exempt de bugs ou d'erreurs. Nous
                            ne serons pas responsables des dommages directs, indirects, spéciaux, accessoires ou
                            consécutifs découlant de l'utilisation de notre site web.</p>

                        <p><strong>4. Protection des données personnelles</strong></p>
                        <p>Nous collectons, utilisons et traitons vos données personnelles conformément à notre
                            politique de confidentialité. Veuillez consulter notre politique de confidentialité pour
                            plus d'informations sur la manière dont nous gérons vos données personnelles.</p>

                        <p><strong>5. Modification des Conditions Générales</strong></p>
                        <p>Nous nous réservons le droit de modifier ces Conditions Générales à tout moment. Les
                            modifications prendront effet immédiatement dès leur publication sur notre site web. Il est
                            de votre responsabilité de consulter régulièrement ces Conditions Générales pour prendre
                            connaissance des éventuelles modifications.</p>

                        <p><strong>6. Contact</strong></p>
                        <p>Si vous avez des questions ou des préoccupations concernant nos Conditions Générales
                            d'Utilisation, veuillez nous contacter à :</p>
                            <ul>
                                <li>fakhaama</li>
                                <li><a href="mailto:fakhamaastore@gmail.com">fakhamaastore@gmail.com</a></li>
                                <li><a href="tel:+212721036477">+212721036477</a></li>
                            </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include("./includes/footer") %>